:host {
  display: block;
}

.ticket {
  width: 100%;
  max-width: 350px;
  position: relative;
  background-image: url('/assets/images/ticket.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.ticket-body {
  padding: 2rem 1.5rem;
  position: relative;
}

.ticket-edge {
  height: 16px;
}

.divider-dashed {
  border-top: 2px dashed gray;
}
