<li [routerLink]="[movement().id]" class="list-item-interactive">
  <div class="flex items-center gap-3">
    <div class="avatar placeholder">
      <div class="avatar-icon">
        <span class="pb-1">{{ movement().icon }}</span>
      </div>
    </div>
    <div>
      <p class="text-lg font-medium leading-tight">{{ movement().concept }}</p>
      <p class="text-sm opacity-60">{{ categoryLabels[movement().category] }}</p>
    </div>
  </div>
  <div class="badge badge-soft font-medium text-lg" [class]="typeMovementClass()">
    {{ movement().type === 'income' ? '+' : '-' }}
    {{ movement().amount }}
  </div>
</li>
