<div class="card-base">
  <div class="card-body p-4">
    <div class="flex items-center gap-3 mb-2">
      <div class="rounded-full w-11 h-11 flex justify-center items-center text-2xl"
           [ngClass]="[colorClasses[stat().color].bg, colorClasses[stat().color].text]">
        <span>{{ stat().icon }}</span>
      </div>
      <p class="text-lg font-semibold">{{ stat().name }}</p>
    </div>
    <div class="flex justify-center mb-2">
      <div class="radial-progress"
           [ngClass]="[colorClasses[stat().color].bg, colorClasses[stat().color].text]"
           [style.--value]="stat().percentage"
           style="--size: 4rem; --thickness: 0.4rem;"
           role="progressbar">
        <span class="text-sm font-semibold">{{ stat().percentage | number:'1.0-0' }}%</span>
      </div>
    </div>
    <p class="text-3xl font-semibold text-center">{{ stat().total | amount:privacyState.hideAmounts() }}</p>
  </div>
</div>
